.App {
  width: 50%;
  padding: 50px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.search-input {
  width: 100%;
  max-width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
}

.listItem {
  display: flex;
  padding: 10px 0;
  position: relative;
}
.listItem textarea {
  opacity: .01;
  height:0;
  position:absolute;
  z-index: -1;
}

.listItem .image {
  width: 70px;
}
.listItem .title {
  padding-left: 10px;
}
.listItem .buttons {
  margin-top: 5px;
}
.listItem .buttons > button {
  margin-left: 10px;
}
